<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/formulario.css"> 
    <script src="https://kit.fontawesome.com/743dd9c749.js" crossorigin="anonymous"></script>
    <title>Formulario</title>
</head>
<body>

        <div id="form">
            <form action="">
                <h2 class="title">Inscreva-se</h2>

                <label for="username">Nome</label>
                <div class="input">
                    <i class="fa-regular fa-user"></i>
                    <input id="username" name="username" placeholder="usarname" type="text">
                </div>

                <label for="email">Email</label>
                <div class="input">
                    <i class="fa-regular fa-envelope"></i>
                    <input id="Email" name="Email" placeholder="Email"
                    type="text">
                </div>

                <label for="senha">Senha</label>
                <div class="input">
                    <i class="fa-solid fa-lock"></i>
                    <input id="senha" name="senha" placeholder="password" type="password">
                </div>

                <div id="btn">
                    <button type="submit">Cadastrar</button>
                </div>
            </form>
        </div>


</body>
</html>