<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <title>Elas in tech</title>
</head>
<body>
    <header>
        <nav class="menu">
            <a href="" class="logo">RevisON</a>

            <ul>
                <li><a href="index.html" class="ativo">Home</a></li>
            </ul>

        </nav><!--menu-->

        <section class="principal">
            <h1>CADASTRE-SE</h1>
            <h4>tenha acesso a mais informações sobre nós</h4>
            <h4>e</h4>
            <h3>ganhe semanalmente nossa Revista Online</h3>
            <div class="links">
                <a href="formulario.html" >Se inscreva</a>
            </div>
        </section><!--principal-->
    </header>
</body>
</html>